<div id="cards">
    <mat-card>
        <app-card
        bg="red"
        icon="directions_car"
        content="Vehicle"
        total="300+"
        ></app-card>
    </mat-card><!-- cards -->
    <mat-card>
        <app-card
        bg="blue"
        icon="person"
        content="Drivers"
        total="450+"
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="violet"
        icon="people_alt"
        content="Users"
        total="500+"
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="green"
        icon="mode_of_travel"
        content="Package"
        total="500+"
        ></app-card>
    </mat-card>
</div>

<div >
    <app-area-chart></app-area-chart>  <!-- area chart -->
   
</div>

<div id="parent">
    <div>
        <app-table></app-table> <!-- table -->
    </div>
    <div>
         <app-pie-chart></app-pie-chart> <!-- pie chart -->
    </div>
</div>